/* CSS declarations go here */
.line {
    fill: none;
    stroke: url(#line-gradient);
    stroke-width: 10px;
}

.config-data {
  float: right;
  position: relative;
}
.status-circle:hover~.cell-info {
  z-index: 999;
  display: block;

}

.cell-info {
  z-index: 999;
  position: absolute;
  display: none;
}
