/* CSS declarations go here */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
  border-spacing:0;
  border-collapse: collapse;
}

.build-series {
  vertical-align: center;
}

.config-data {
  float: left;
  position: relative;
}
.status-circle:hover~.cell-info {
  z-index: 999;
  display: block;
}

.row-header {
  float: right;
  text-align: right;
}

.cell-info {
  z-index: 999;
  position: absolute;
  display: none;
}

.col-header {
  text-align: center;
  border-bottom: 1px solid grey;

}
